
/* Radio Buttons */

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #494949;
    background-image: none;
    border-color: #494949;
}
.btn-primary, .btn-primary{
    color: #fff;
    background-color: #8f8f8f;
    background-image: none;
    border-color: #8f8f8f;
}
.btn-primary.hover, .btn-primary:hover{
    color: #fff;
    background-color: #8f8f8f;
    background-image: none;
    border-color: #8f8f8f;
}
.btn-primary.active, .btn-primary:focus{
    color: #fff;
    background-color: #494949;
    background-image: none;
    border-color: #494949;
}
.btn-primary.focus, .btn-primary:focus{
    color: #fff;
    background-color: #494949;
    background-image: none;
    border-color: #494949;
}
.btn-primary:hover {
    color: #fff;
    background-color: #494949;
    background-image: none;
    border-color: #494949;
}

/* Switch Button */
/* Pt1 on */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    background: #28a745;
    color: #fff;
}

/* Pt2 off */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: #eee;
    color: rgba(0,0,0,0.87);
}

.grid-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 54px 1fr 45px;
  grid-template-areas: "header header" "sidenav main" "footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #fff;
  padding: 6px 0px 6px 10px;
  display: flex;
}

.main {
  grid-area: main;
  background-color: #faf9f8;
  padding-left: 40px;
  padding-right: 32px;
  max-width: calc(100vw - 400px);
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.footer {
  grid-area: footer;
  background-color: #f3f2f1;
  padding: 12px 20px;
}

.sidenav {
  grid-area: sidenav;
  background-color: #fff;
  padding: 25px;
}

body {
  background-color: rgba(225, 223, 221, 0.2);
  min-height: 611px;
  margin: 0;
}

.page-title {
  padding: 52px 0px;
}

.card {
  background: #fff;
  padding: 28px;
  margin-bottom: 28px;
  border-radius: 2px;
  background-clip: padding-box;
}
