
h1{
        color:#194934;   
}

h2{
        color:#277150;
}

h3{
        color:black;
}

h4{
        color:black;
}

.nav-pills>li>a {
    color: #277150;
    background-color: white
}
.nav-pills>li.active>a,  .nav-pills>li.active>a:focus {
    color: #C8F0D8;
    background-color: #277150
}